*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),#19cfcfd5),url(../Images/services-bg.jpg);
    background-position: center;
    background-size: cover;
    
}
.row{
    width: 300px;
    height: 100px;
    font-size: 20px;
    display: flex;
    border: 2px solid palegoldenrod;
}
.logo img{
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    overflow: hidden;
    
}

.Meny li{
    font-size: 20px;
    display: flex;
    justify-content: end;
}





