*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),#3551b5),url(../Images/services-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    max-width: 400px;
    width: 90%;
    margin-top: 0px;
    height: 80%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;

}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button {
    transition-duration: 0.4s;
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
  }
  
button:hover {
    background-color: rgba(255, 174, 0, 0.801);
    color: white;
  }

  input:focus~label,
  input:valid~label,
  textarea:focus~label,
  textarea:valid~label{
      top: -35px;
      font-size: 14px;
  }

  .row{
      display: flex;
      align-items: center;
      justify-content:space-between;
  }
 .row .input-group{
      flex-basis: 48%;
  }

  @media (max-width:1399.98px){
      body{
          background: #f3f3f3;
      }

  }

 